<div class="card border-0" style="width: 18rem;">
  <div class="d-flex justify-content-center">
    <img src="https://avalonsibyl.com/image/cache/data/troll-nyform-118-445-600x840.jpg"
    class="card-img-top rounded-circle w-75" alt="...">
  </div>
  <div class="card-body">
    <h5 class="card-title text-center text-monospace">Rafo Olvides</h5>
    <p class="card-text text-center text-monospace">Lorem ipsum dolor sit amet, consectetur
        adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem
        labore et dolore magna aliqua.</p>
    <a href="https://www.linkedin.com/in/rafael-rodrigues-5124821a2/"
       class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">LinkedIn</a>
    <a href="https://github.com/syltare" class="btn btn-outline-dark d-flex justify-content-center"
       target="_blank">Github</a>
  </div>
</div>
